
<footer class="green page-footer">
    <div class="">
      <div class="row">
        <div class="col l4 m4 s12">
          <h5 class="white-text">Django + Ajax</h5>
          <p class="p2">
            This section contains tutorials about implementation of some common operations
            on your <u>django</u> site powered by <u>Ajax</u>
          </p>
        </div>
        <div class="col l4 m4 s12">
          <h5 class="white-text">Django How To</h5>
          <p class="p2">
            This section contains tutorials about implementation of different operations in your project 
            which are pretty simple but beginners find them difficult. This section will help them a lot.
          </p>
        </div>
        <!-- <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5> 
        </div> -->
      </div>
    </div>








    <div class="footer-copyright">
      <div style="padding: 10px;">
      © 2020 All Rights Reserved. Powered by Mashood
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>